{% extends "base.html" %}

{% block title %}About - {% endblock %}

{% block page_content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8 pt-5 pl-5 pb-5 pr-5" style="background-color: #f7f7f7;">
        <h2>About MGKDB</h2>
        <p>The Multiscale GyroKinetic DataBase (MGKDB) is a cross-platform document-oriented database program
           developed by the Partnership for Multiscale Gyrokinetic Turbulence: A U.S. Dept. of Energy Scientific
            Discovery Through Advanced Computing (SciDAC) Project. The goal of MGKDB is to create a support 
            framework, interface, and online storage infrastructure for the many simulation studies performed in
             computational physics and aimed at understanding the scientific behaviors of plasma in magnetically 
             confined fusion plasmas. MGKDB is a community tool designed to improve the ease with which 
             validation, verification, and cross-code benchmarking studies can be performed. MGKDB is further 
             aimed towards enabling deep data analytics on hidden content (i.e. the latent space) existing within 
             the substantial simulation studies that have already been performed, and will be performed in the 
             future, using capabilities such as: machine learning, artificial intelligence, and data mining.</p>
      </div>
    </div>
</div>
{% endblock %}