{% extends "base.html" %}

{% block title %}About - {% endblock %}

{% block page_content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8 pt-5 pl-5 pb-5 pr-5" style="background-color: #f7f7f7;">
        <h2>About MGKDB</h2>
        <p>The Multiscale GyroKinetic DataBase (MGKDB) is a cross-platform document-oriented database developed by 
          the Partnership for Multiscale Gyrokinetic Turbulence: A U.S. Dept. of Energy Scientific Discovery 
          Through Advanced Computing (SciDAC) Project. The goal of MGKDB is to create a support framework, 
          interface, and online storage infrastructure for the many computational plasma physics simulation 
          studies aimed at understanding the behavior of plasma in magnetically confined fusion devices. MGKDB is 
          a community tool aimed towards enabling deep data analytics on hidden content (i.e. the latent space) 
          existing within the substantial simulation studies that have already been performed, and will be 
          performed in the future, using capabilities such as: machine learning, artificial intelligence, and data 
          mining. MGKDB is also designed to facilitate validation, verification, and cross-code benchmarking 
          studies, with a strong emphasis on preserving compatibility with all standards and databases already 
          existing within the community.</p>
      </div>
    </div>
</div>
{% endblock %}