{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Data - {% endblock %}

{% block page_content %}
<div class="container">
  <div class="row pt-5">
    <!--Filters-->
    <div class="col-lg-2">
      <h2 class="font-weight-light">
        Filters
      </h2>
      <br>
      {{ render_form(form) }}
    </div>
    <!--Data-->
    <div class="col-lg-10">
      <center>
        <h1 class="font-weight-light">
          Data
        </h1>
      </center><br>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="list-group">
            <!--Individual Data Cards-->
            {% for run in runs %}
            <div class="list-group-item list-group-item-action" style="border-radius: 15px;">
              <div class="container no-gutters">
                <div class="row">
                  <!--Button used to expand params-->
                  <div class="col-1">
                    <a class="btn btn-primary" data-toggle="collapse" href="#content{{ loop.index }}" role="button">
                      +
                    </a>
                  </div>
                  <div class="col-10">
                    <!--Relevant info for each run-->
                    <b>Run ID: </b> {{ run['id']}} <br>
                    <b>User: </b> {{ run['user']|capitalize }} <br>
                    <b>Upload Date: </b> {{ run['time'] }} <br>
                    <b>Size: </b> {{ '%0.2f'|format(run['size']) }} GB<br>
                    <b>Keywords: </b> {{ run['keywords'] }}
                  </div>
                  <div class="col-1">
                    <!--Download button-->
                    <a type="button" class="btn btn-dark" href={{ url_for('main.download', collection_name=collection_name,  id=run['id'], _external=True) }}>↓
                    </a>
                  </div>
                </div>
              </div>
              <!--Collapsible div that displays run parameters-->
              <div class="collapse" id="content{{ loop.index }}">
                <br>
                <div class="card card-body">
                  <b> Parameters </b>
                  {% for param in run['params'] %} 
                    {{ param[0] }}: {{ param[1] }} <br>
                  {% endfor %}  
                </div>
              </div>
            </div><br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}