{% extends "base.html" %}
{% block title %}Getting Started - {% endblock %}
{% block page_content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8 pt-5 pl-5 pb-5 pr-5" style="background-color: #f7f7f7;">
        <h2>Getting started with MGKDB</h2>
        <p>There are a variety of ways to interact with the MGKDB database. </p>
        <h4>Web</h4>
        <p>To get started using the web-based data browser, <a href="{{ url_for('main.signup') }}">Sign Up</a> for an account. 
          Shortly after signing up you will recieve an email asking you to verify your account. Once your account is verified, wait for an Admin to approve your account request.
          You will recieve an additional email upon approval.  
        </p>
        <p>
          Once your account has been approved, you can browse the MGKDB database via the <a href="{{ url_for('main.data_form') }}">Data</a> page.
          Here you can search for runs in two collections: Linear or Non-Linear. Once you have selected the collection you would like to search you can either find a specific run via its database id
          or search for a subset of runs by applying the available filters. Each returned run contains a list of the parameters used to create the run as well as ready viewing of any available diagnostic plots.
          You can also download the entirety of the run's files from the database. Due to the size of the runs, this usually takes a few seconds but in extreme cases could take a few minutes.
        </p>
        <h4>Locally</h4>
        <p>If you have been granted permission, you can run and alter the MGKDB codebase locally by cloning the
          <a href="https://bitbucket.org/dykuang/mgk-dev/src/master/"> repo</a> and 
          reading the <a href="https://bitbucket.org/dykuang/mgk-dev/wiki/Home"> wiki</a>.
        </p>
      </div>
    </div>
</div>
{% endblock %}