{% extends "base.html" %}

{% block title %}Home - {% endblock %}

{% block page_content %}
<!--Flashed Messages-->
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>

<!--Top of page image and text-->
<header class="masthead" style="background-color:#3950bf;">
    <div class="container-fluid h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-dark"><font color="white">Welcome to MGKDB </font></h1>
          <p class="lead"><font color="white">Open access to fusion simulation data for the research community</font></p>
        </div>
      </div>
    </div>
</header>
<!--Content-->

{% endblock %}